.footer{
    padding: 0 240px;
    width: 100%;
}
.footer-heading{
    border-top: 2px solid #C2C2C2;
    border-bottom: 2px solid #C2C2C2;
    width: 100%;
    padding: 12px 0;
    display: grid;
    justify-content: center;
}
.footer-body{
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
.footer-container{
    display: flex;
    column-gap: 48px;
    width: max-content;
}
.footer-bottom{
    padding: 30px 0;
    text-align: center;
}
@media(max-width: 790px){
    .footer{
        padding: 0 120px;
    }
}
@media(max-width: 640px){
    .footer{
        padding: 0 60px;
    }
}
@media(max-width: 450px){
    .footer{
        padding: 0 32px;
    }
    .footer-heading{
        font-size: 14px;
    }
    .footer-container{
        font-size: 14px;
    }
    .footer-bottom{
        font-size: 12px;
    }
}