.header{
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 150px;
    z-index: 3;
}
.header img{
    width: 24px;
    height: 24px;
}
.header-components{
    display: flex;
    align-items: center;
    column-gap: 48px;
}