.preview__and__popular{
    width: 100%;
    height: 100vh;
    padding: 120px 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease;
}
.textbox-heading{
    font-size: 72px;
    width: 80%;
    word-break: break-word;
}
.textbox-container{
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    align-items: flex-start;
}
.textbox-description{
    width: 50%;
    word-break: break-word;
    font-size: 18px;
}
.popular-collection{
    height: auto;
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular-heading{
    font-size: 36px;
}
.anime-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.anime {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: purple;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}

.textbox-play {
    padding: 13px 31px 13px 107px;
    background-color: #fff;
    color: black;
    border-radius: 12px;
    background-image: url('../images/play.svg');
    background-repeat: no-repeat;
    background-size: auto 80%;
    font-size: 40px;
    background-position: 31px center;
    border: 0;
}
.swiper{
    width: 100%;
    height: max-content;
    cursor: pointer;
}
@media(max-width: 960px){
    .textbox-heading{
        font-size: 64px;
        width: 100%;
    }
    .textbox-description{
        font-size: 14px;
    }
    .popular-heading{
        font-size: 28px;
    }
    .textbox-play{
        padding: 7px 31px 7px 107px;
        background-image: url('../images/play.svg');
        font-size: 32px;
        border-radius: 16px;
    }
}