.search {
    height: 100%;
    display: flex;
    align-items: center;
}
.search-button {
    height: 48px;
    width: 0;
    background-image: url('../images/Search.svg');
    background-size: cover;
    background-color: transparent;
    background-position: center 4px;
    border: 0;
    border-radius: 0;
    transition: all .6s ease;
}
.search-button-enabled{
    width: 48px;
}
.search-input{
    width: 0;
    height: 100%;
    border-bottom: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    font-size: 34px;
    transition: all .8s ease;
    outline: none;
}
.search-enabled{
    width: 312px;
}
.search-results{
    z-index: 4;
    width: 624px;
    min-height: 96px;
    max-height: 191px;
    overflow-y: scroll;
    background-color: #3b3b3b;
    position: fixed;
    top: 144px;
    right: 108px;
    display: none;
}
.search-results::-webkit-scrollbar{
    width: 0;
}
.search-results-enabled {
    display: block;
}
.search-result{
    width: calc(100% - 72px);
    height: 96px;
    border-bottom: 2px solid #818181;
    margin: 0 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
}
.result-paragraph{
    font-size: 28px;
}