.watch__collections{
    width: 100%;
    height: max-content;
    padding: 0 59px 90px 59px;
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    background-image: radial-gradient(circle, rgba(90,0,100,0.3) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
}
.anime-collection{
    width: 100%;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.anime-collection-heading{
    font-size: 36px;
}
.anime-collection-body{
    height: 219px;
    width: 180%;
    display: grid;
    grid-template-columns: repeat(9, auto);
    column-gap: 10px;
}