.App {
  background-color: #000000;
  overflow-x: hidden;
  min-height: 100vh;
}
*{
  font-family: 'SansSerif', sans-serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.thin-caption{
  font-weight: 300;
}
.header-par{
  font-size: 24px;
}
ul{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  justify-content: center;
}
li{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}