.App {
  background-color: #000000;
  overflow-x: hidden;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
h3{
  margin: 0;
}
h4{
  margin: 0;
}
p{
  margin: 0;
}
*{
  font-family: 'SansSerif', sans-serif;
  color: white;
  box-sizing: border-box;
}
.thin-caption{
  font-weight: 300;
}
.footer-caption{

}
.footer-thin{

}
.header-par{
  font-size: 24px;
}